{% extends 'base.html' %}
{% load static %}
{% block title %}Set New Password - QrEntry{% endblock %}

{% block content %}
<section class="py-5 min-vh-95 d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="glass-card shadow-lg" data-aos="fade-up">

          <div class="text-center mb-4">
            <h2 class="fw-bold text-white">Set New Password</h2>
          </div>

          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-gradient w-50 mx-auto d-block py-2 fw-bold">Reset Password</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
